<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>[A8]</string>
		<key>image</key>
		<string>001_a8</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[吹哨]</string>
		<key>image</key>
		<string>002_Whistle</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[黄牌警告]</string>
		<key>image</key>
		<string>003_Yellow_card_warning</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[红牌罚下]</string>
		<key>image</key>
		<string>004_Red_card</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[哈登]</string>
		<key>image</key>
		<string>005_James_Harden</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[篮球]</string>
		<key>image</key>
		<string>005.1_angry_copy</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[梅西]</string>
		<key>image</key>
		<string>006_meixi</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[僵尸]</string>
		<key>image</key>
		<string>007_zombie</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[眨眼]</string>
		<key>image</key>
		<string>008_wink</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[呕吐]</string>
		<key>image</key>
		<string>009_vomiting</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[七彩呕吐]</string>
		<key>image</key>
		<string>010_vomiting_1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[鄙视]</string>
		<key>image</key>
		<string>011_unamused</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[吐舌头]</string>
		<key>image</key>
		<string>012_tongue</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[笑嘻嘻]</string>
		<key>image</key>
		<string>013_tongue_2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[目瞪口呆]</string>
		<key>image</key>
		<string>014_tongue_1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[拉屎]</string>
		<key>image</key>
		<string>015_tired</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[意淫]</string>
		<key>image</key>
		<string>016_thinking</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[流汗]</string>
		<key>image</key>
		<string>017_sweat</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[惊讶]</string>
		<key>image</key>
		<string>018_surprised</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[诡异]</string>
		<key>image</key>
		<string>019_smirking</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[亮闪闪]</string>
		<key>image</key>
		<string>020_smiling</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[mmp]</string>
		<key>image</key>
		<string>021_smiling_1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[装傻]</string>
		<key>image</key>
		<string>022_smile</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[傻笑]</string>
		<key>image</key>
		<string>023_smile_1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[睡觉]</string>
		<key>image</key>
		<string>024_sleeping</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[生病]</string>
		<key>image</key>
		<string>025_sick</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[震惊]</string>
		<key>image</key>
		<string>026_shocked</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[闭嘴]</string>
		<key>image</key>
		<string>027_secret</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[害怕]</string>
		<key>image</key>
		<string>028_scared</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[超级害怕]</string>
		<key>image</key>
		<string>029_scared_1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[难受]</string>
		<key>image</key>
		<string>030_sad</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[超级难受]</string>
		<key>image</key>
		<string>031_sad_1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[装逼]</string>
		<key>image</key>
		<string>032_neutral</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[滑稽]</string>
		<key>image</key>
		<string>033_mute</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[流感]</string>
		<key>image</key>
		<string>034_mask_copy</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[亲亲]</string>
		<key>image</key>
		<string>035_kiss</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[爱心]</string>
		<key>image</key>
		<string>036_kiss_2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[笑哭]</string>
		<key>image</key>
		<string>037_joy</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[受伤]</string>
		<key>image</key>
		<string>038_injury</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[一见钟情]</string>
		<key>image</key>
		<string>039_in_love</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[穷开心]</string>
		<key>image</key>
		<string>040_happy</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[开心]</string>
		<key>image</key>
		<string>041_happy_2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[可爱]</string>
		<key>image</key>
		<string>042_happy_1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[瞪眼]</string>
		<key>image</key>
		<string>043_flushed</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[面无表情]</string>
		<key>image</key>
		<string>044_expressionless</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[晕]</string>
		<key>image</key>
		<string>045_dizzy</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[恶魔]</string>
		<key>image</key>
		<string>046_devil</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[大哭]</string>
		<key>image</key>
		<string>047_cry</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[酷]</string>
		<key>image</key>
		<string>048_cool</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[流量]</string>
		<key>image</key>
		<string>049_cry_1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[超级酷]</string>
		<key>image</key>
		<string>050_cool_1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[便秘]</string>
		<key>image</key>
		<string>051_confused</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[中毒]</string>
		<key>image</key>
		<string>052_confused</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[挂了]</string>
		<key>image</key>
		<string>053_astonished_1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[生气]</string>
		<key>image</key>
		<string>054_angry</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[天使]</string>
		<key>image</key>
		<string>055_angel</string>
	</dict>
</array>
</plist>
